.barra_busqueda{
    width: max-content;
    height: max-content;
    /* border: 1px solid black; */
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    padding: 0;
}

.text{
    padding: 0;
    margin: 0;
}

#search{
    height: 25px;
}

.btn_search{
    background-color: rgb(148, 185, 241);
    border-radius: 8px;
    padding: 6px 10px;
    border: 0.3px solid black;
    cursor: pointer;
}

/* Stocks */

.stocks{
    width: max-content;
    height: max-content;
    margin:15px  auto;
    
}

.stock-item{
    width: 50vw;
    height: max-content;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid green;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    align-items: center;
}

.stock-item-img{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px;
}

.arrow{
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 0;
}

.options-img{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* Data Loader */

.increment{
    color: green;
}

.decrement{
    color: red;
}